:root {
  --primary-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: 'Titan One', cursive;
  --primeri-text-color: #ffffff;
  --accent-color: #d41443;
  --button-hover-bg-color: #ecebeb;
  --background-color: #fff5f6;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
