<div class="container">
  <div class="backdrop-about is-hidden" data-about-modal>
    <div class="modal-about">
    <div class="modal-about__header">
        <button class="modal-about-close" type="button" data-about-modal-close>
            <svg width="16" height="16">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-about__title">Lorem ipsum dolor sit amet.</h2>
    </div>
      <p class="modal-about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi molestiae natus debitis dolor
        quia nihil, aut quaerat labore! Totam porro officiis fuga quas debitis corporis, enim veniam
        animi facere sed ut vitae repellat id deleniti perferendis nihil, pariatur dolorem, officia
        tenetur praesentium? Consequatur sapiente alias incidunt voluptas nisi in vitae.
      </p>
        <p class="modal-about__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi molestiae natus debitis dolor
            quia nihil, aut quaerat labore! Totam porro officiis fuga quas debitis corporis, enim veniam
            animi facere sed ut vitae repellat id deleniti perferendis nihil, pariatur dolorem, officia
            tenetur praesentium? Consequatur sapiente alias incidunt voluptas nisi in vitae.
        </p>
        <p class="modal-about__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi molestiae natus debitis dolor
            quia nihil, aut quaerat labore! Totam porro officiis fuga quas debitis corporis, enim veniam
            animi facere sed ut vitae repellat id deleniti perferendis nihil, pariatur dolorem, officia
            tenetur praesentium? Consequatur sapiente alias incidunt voluptas nisi in vitae.
        </p>

    </div>
  </div>
</div>
