<div class="backdrop is-hidden contacts-modal" data-contacts-modal>
  <button
    type="button"
    class="hero-modal__close hero-modal__close--position"
    data-contacts-modal-close
  >
    <svg class="hero-modal__icons" width="16" height="16">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="map__wrap">
    <div class="map__thumb">
      <div class="frame__wrap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.7159859942!2d-88.01214778988322!3d41.83339250495681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e290a6001df1d%3A0xfcc2caa7317e306!2sMuseum%20of%20Science%20and%20Industry%2C%20Chicago!5e0!3m2!1suk!2sua!4v1645602197016!5m2!1suk!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <p class="locations__text-city locations__text--alignment">Chicago</p>
    </div>
    <div class="map__thumb">
      <div class="frame__wrap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211397.04172167697!2d-118.38595341835145!3d34.11873292141457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf61e9d408cb%3A0x73ff07b1c2d6dadc!2z0J7QsdGB0LXRgNCy0LDRgtC-0YDRltGPINCT0YDQuNGE0YTRltGC0LA!5e0!3m2!1suk!2sua!4v1645602345529!5m2!1suk!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <p class="locations__text-city locations__text--alignment">Los Angeles</p>
    </div>
    <div class="map__thumb">
      <div class="frame__wrap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96775.0753111318!2d-74.02245631592355!3d40.713148900052715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258a29a5e9e99%3A0x4a01c8df6fb3cb8!2z0JzRg9C30LXQuSDQodC-0LvQvtC80L7QvdCwINKQ0YPQs9Cz0LXQvdGF0LDQudC80LA!5e0!3m2!1suk!2sua!4v1645602403674!5m2!1suk!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <p class="locations__text-city locations__text--alignment">New York</p>
    </div>
  </div>
</div>
