<div class="backdrop is-hidden" data-hero-modal>
  <div class="hero-modal">
    <button type="button" class="hero-modal__close" data-hero-modal-close>
      <svg class="hero-modal__icons" width="16" height="16">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <p class="hero-modal__title">Make an order</p>

    <form action="#">
      <div class="hero-modal__form">
        <label class="hero-form-field__text" for="user-name">First name</label>
        <div class="hero-form-field__wrap">
          <input
            type="text"
            class="hero-form-field__input"
            required
            name="user-name"
            id="user-name"
          />
        </div>
      </div>

      <div class="hero-modal__form hero-modal__form-flex">
        <div class="hero-form-field">
          <label class="hero-form-field__text" for="user-tel">Phone</label>
          <div class="hero-form-field__wrap">
            <input
              type="tel"
              class="hero-form-field__input"
              required
              name="user-tel"
              id="user-tel"
            />
          </div>
        </div>

        <div class="hero-form-field">
          <label class="hero-form-field__text" for="user-email">E-mail</label>
          <div class="hero-form-field__wrap">
            <input
              type="email"
              class="hero-form-field__input"
              required
              name="user-email"
              id="user-email"
            />
          </div>
        </div>
      </div>

      <div class="hero-modal__form hero-modal__form-flex">
        <div class="hero-form-field hero-form-field--flex">
          <p class="hero-form-field__text">Select product</p>
          <label class="product__text">
            <input class="select-product" type="checkbox" name="product-cream" value="ice cream" />
            Ice cream
          </label>
          <label class="product__text">
            <input
              class="select-product"
              type="checkbox"
              name="product-coffee"
              value="ice coffee"
            />
            Ice coffee
          </label>
          <label class="product__text">
            <input
              class="select-product"
              type="checkbox"
              name="product-milkshakes"
              value="milkshakes"
            />
            Milkshakes
          </label>
        </div>
        <div class="hero-form-field hero-form-field--flex">
          <label class="hero-form-field__text" for="number">Number</label>
          <input
            class="number-product"
            type="number"
            name="number-cream"
            min="0"
            max="99"
            step="1"
            value="0"
            id="number-cream"
          />
          <input
            class="number-product"
            type="number"
            name="number-cofee"
            min="0"
            max="99"
            step="1"
            value="0"
            id="number"
          />
          <input
            class="number-product"
            type="number"
            name="number-milkshakes"
            min="0"
            max="99"
            step="1"
            value="0"
            id="number-milkshakes"
          />
        </div>
      </div>

      <div class="hero-modal__comments">
        <label class="hero-form-field__text" for="delivery-addres">Delivery address</label>
        <textarea
          class="hero-form-text hero-form-text--size"
          placeholder="Enter text"
          name="delivery-addres"
          id="delivery-addres"
        ></textarea>
      </div>

      <div class="hero-modal__comments">
        <label class="hero-form-field__text" for="comments">Question/comment</label>
        <textarea
          class="hero-form-text"
          placeholder="Enter text"
          name="comments"
          id="comments"
        ></textarea>
      </div>

      <button type="submit" class="hero-modal-btn btn-between">Send</button>
    </form>
  </div>
</div>
