.backdrop-about {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/about-modal/cow.png), url(../images/about-modal/fruit.png),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-size: 20vw, 20vw, 100vw;
  background-position: top left, bottom right, center;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-about.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-about.is-hidden .modal-about {
  transform: scale(0.2);
}
.modal-about {
  position: absolute;
  top: 20vh;
  left: 5vw;
  right: 5vw;
  bottom: 10vh;
  padding: 0 15px 25px;
  border-radius: 20px;
  background-color: var(--background-color);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
  @media screen and (min-width: 480px) {
    top: 25vh;
    bottom: 20vh;
  }
  @media screen and (min-width: 768px) {
    left: 20vw;
    right: 20vw;
  }
  @media screen and (min-width: 1280px) {
    left: 25vw;
    right: 25vw;
  }
}
.modal-about__header {
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}
.modal-about {
  &__title {
    padding: 15px 30px 5px;
    text-align: left;
    color: var(--accent-color);

    font-size: 25px;
    background: var(--background-color);
  }
  &__text {
    color: var(--accent-color);
    background-color: FFB8CA;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    & + & {
      margin-top: 15px;
    }
  }
}

.modal-about-close {
  position: absolute;
  right: 15px;
  top: 15px;

  width: 30px;
  height: 30px;
  background-color: #e17992;
  color: var(--primeri-text-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}
