<section class="about" id="how-its-made">
    <div class="container">
        <p class="about__pretitle section__pretitle">tradition and love</p>
        <h2 class="about__title section__title">how it&#8217;s made?</h2>
        <div class="about-thumb">
            <div class="about-background"></div>
            <div class="about__wrapper">


                <p class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus,
                    faucibus
                    lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__recipe">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris
                    rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.

                    Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__button" type="button" data-about-modal-open>Read more
                    <svg class="about__icon" width="5" height="8">
                        <use href="./images/sprite.svg#icon-buy-icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>