<section class="section-advantage">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantage">
      <li class="advantage__item">
        <p class="advantage__title advantage__title--milk">721</p>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        <p class="advantage__title advantage__title--fruit">16kg</p>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        <p class="advantage__title advantage__title--health">84</p>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
