<section class="section reviews__section" id="about-us">
  <div class="container reviews__container">
    <div class="reviews" data-aos="zoom-in">
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img1.jpg 1x, images/customer-reviews/img1x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img1.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <h2 class="reviews__title">Natalia, Los Angeles</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img2.jpg 1x, images/customer-reviews/img2x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img2.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <h2 class="reviews__title">Alexandr, New York</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img3.jpg 1x, images/customer-reviews/img3x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img3.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Evgeniy, Washington</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img4.jpg 1x, images/customer-reviews/img4x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img4.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Dmitriy, New York</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img5.jpg 1x, images/customer-reviews/img5x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img5.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Vitaliy, Chicago</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img6.jpg 1x, images/customer-reviews/img6x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img6.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Victoria, Los Angeles</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img7.jpg 1x, images/customer-reviews/img7x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img7.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Max, San Francisco</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img8.jpg 1x, images/customer-reviews/img8x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img8.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Igor, Chicago</h2>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="images/customer-reviews/img9.jpg 1x, images/customer-reviews/img9x2.jpg 2x"
          />
          <img class="reviews__img" src="images/customer-reviews/img9.jpg" alt="customer foto" />
        </picture>

        <div class="wrap-text">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h2 class="reviews__title">Igor, Washington</h2>
      </div>
    </div>
  </div>
</section>
