<footer class="footer">
    <div class="footer__container container" id="contact">
        <div class="section__title--padding">
            <p class="section__pretitle section__pretitle--position">homemade ice cream made</p>
            <p class="section__title section__title--position">with passion</p>
        </div>
        <div class="footer__allcontacts">
            <ul class="social">
                <li class="social__item">
                    <a href="https://github.com/" class="social__link" target="_blank">
                        <svg class="social__icon" width="20" height="20">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://web.telegram.org/k/" class="social__link" target="_blank">
                        <svg class="social__icon" width="20" height="20">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://www.facebook.com/" class="social__link" target="_blank">
                        <svg class="social__icon" width="20" height="20">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <a href="tel:+610383766284" class="telephone">Feel free to contact<span class="telephone__number"> +61 (0) 383 766 284</span>
        </div> 
    </div> 
<div class="copyright">
    <p class="end">&#169;2019 - IceCream. All Rights Reserved.</p>
</div>
</footer>
    