<section class="products__section" id="our-products">
    <div class="container products__container">
<p class="section__pretitle products__pretitle">100% natural</p>
<h2 class="section__title products__title">Products</h2>
<ul class="products__list">
    <li class="products__item" id="product__1">
        <h3 class="item__title">ice cream</h3>
        <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <a class="item__button" href="#description__wrap__1">
            <svg class="button__icon" width="20" height="15">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg> 
        </a>
        <div class="description__wrap" id="description__wrap__1">
            <p class="wrap__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et. dolore magna
            aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et. dolore magna
            aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et. dolore magna
            aliqua facilisis.</p>
            <a class="description__close" href="#product__1">
            <svg class="close__icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
            </a>
        </div>
    </li>
    <li class="products__item" id="product__2">
        <h3 class="item__title">ice coffee</h3>
        <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <a class="item__button" href="#description__wrap__2">
            <svg class="button__icon" width="20" height="15">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
        </a>
        <div class="description__wrap" id="description__wrap__2">
            <p class="wrap__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et. dolore magna
                aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et. dolore magna
                aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et. dolore magna
                aliqua facilisis.</p>
            <a class="description__close" href="#product__1">
                <svg class="close__icon" width="15" height="15">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </a>
        </div>
        </li>
    <li class="products__item" id="product__3">
        <h3 class="item__title">milkshakes</h3>
        <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <a class="item__button" href="#description__wrap__3">
            <svg class="button__icon" width="20" height="15">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
        </a>
        <div class="description__wrap" id="description__wrap__3">
            <p class="wrap__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et. dolore magna
                aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et. dolore magna
                aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et. dolore magna
                aliqua facilisis.</p>
            <a class="description__close" href="#product__1">
                <svg class="close__icon" width="15" height="15">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </a>
        </div>
        </li>
</ul>
</div>
</section>