.section-advantage {
  padding-bottom: 97px;

  background: #fff5f6;

  @include tablet {
    padding-bottom: 140px;
  }
}

// .container-advantage--padding {
//   padding-right: 70px;

//   @include tablet {
//     padding-right: 74px;
//   }

//   @include desktop {
//     padding-right: 115px;
//   }
// }

.advantage {
  max-width: 230px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    // margin-bottom: -38px;
    margin-left: -60px;
  }
  @include desktop {
    margin-left: -30px;
  }
  @media screen and (max-wdith: 480px) and (min-width: 1200px) {
    padding-right: 40px;
  }
}

.advantage__item {
  @include tablet {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.advantage__item:not(:last-child) {
  margin-bottom: 38px;
  @include tablet {
    margin-bottom: 0;
  }
}

.advantage__title {
  margin-bottom: 13px;

  font-family: var(--secondary-font-family);

  @include font(36px, 400, 1.14, 0.04em);

  color: var(--accent-color);

  @include tablet {
    @include font(48px, null, null, null);
  }
  @include desktop {
    margin-bottom: 15px;
    @include font(58px, null, null, null);
  }
}

.advantage__text {
  @include font(12px, 700, 1.66, 0.02em);

  color: #000000;

  @include tablet {
    @include font(14px, null, 1.71, null);
  }
  @include desktop {
    @include font(16px, null, 1.75, null);
  }
}

.advantage__title--milk::before,
.advantage__title--fruit::before,
.advantage__title--health::before {
  content: '';
  top: 0;
  display: block;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 36px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.advantage__title--milk::before {
  width: 33px;
  height: 50px;
  background-image: url(../images/img-adv/adv-icon-1-1x.png);
  background-repeat: no-repeat;
  // background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/img-adv/adv-icon-1-2x.png);
  }
}

.advantage__title--fruit::before {
  width: 50px;
  height: 50px;
  background-image: url(../images/img-adv/adv-icon-2-1x.png);
  background-repeat: no-repeat;
  // background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/img-adv/adv-icon-2-2x.png);
  }
}

.advantage__title--health::before {
  width: 44px;
  height: 50px;
  background-image: url(../images/img-adv/adv-icon-3-1x.png);
  background-repeat: no-repeat;
  // background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/img-adv/adv-icon-3-2x.png);
  }
}
