.reviews__section {
  padding-top: 80px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding: 121px 0 119px 0;
  }
  @media screen and (min-width: 1280px) {
    section {
      padding: 123px 0 132px 0;
    }
  }
}
.reviews__container {
  @media screen and (min-width: 768px) {
    padding: 0 74px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 176px 0 178px;
  }
}
.reviews__img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 29px;
}
.wrap-text {
   padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding: 47px 64px 34px 64px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    padding: 47px 77px 39px 77px;
    margin-bottom: 15px;
  }
}
.reviews__text::before {
  position: absolute;
  top: -15px;
  left: -2px;
  z-index: -1;
  display: inline-block;
  content: '';
  background-image: url(../images/customer-reviews/pic.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 54px;
  height: 40px;
  @media screen and (min-width: 768px) {
    top: -17px;
    left: -26px;
  }
   @media screen and (min-width: 1280px) {
    top: -15px;
    left: -26px;
  }
}
.reviews__text {
  position: relative;
  z-index: 1;
  background: repeating-linear-gradient(
    to top,
    transparent 1px,
    transparent 30px,
    #e1e1e1 31px,
    #e1e1e1 32px
  );

  text-align: center;

  color: #000;
  background-color: #fafafa;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
  }
}
.reviews__title {
  position: relative;
  color: #000000;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.reviews__title::before {
  content: '\2022   \2022   \2022';
  display: flex;
  justify-content: center;
  font-size: 10px;
  line-height: 4px;
  color: var(--accent-color);
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
// =====================стили точек панигации============================
.slick-dots li.slick-active button {
  background-image: url(../images/customer-reviews/home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
}
.slick-dots {
  position: relative;
  top: 0px;
}
.slick-dots li {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
}
.slick-dots li:not(:last-child) {
  margin-right: 18px;
}
.slick-dots li button:before {
  display: none;
}

.slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0;
}
.slick-dots li :hover {
  background-color: var(--accent-color);
}
